body {
  font-family: sans-serif;
  background-color: #1e1e1e;
}

#mockup, #screenshot {
  border: none !important;
  border-radius: 15px;
  width: 350px;
  height: 250px;
  display: none;
  margin: 1px;
}

#resolution-dropdown {
    margin-left: 20px;
    letter-spacing: 1px;
}

#canvas {
  text-align: center;
  margin-bottom: 20px;
}

#download {
  margin-bottom: 20px;
  letter-spacing: 1px;
  visibility: hidden;
}

.overlay-wrapper {
  margin-top: 40px;
  margin-bottom: 50px;
}

.btn-overlay {
  background-color: rgb(104, 7, 104);
  width: 300px;
  font-size: 20px;
  color: white;
  font: bold;
  letter-spacing: 1px;
  border: solid 2px rgb(216, 212, 212);
  border-radius: 10px;
  padding: 10px !important;
}

.btn-overlay:hover {
  background-color: rgba(127, 11, 133, 0.89);
  color: white;
  cursor: pointer;
}

#sliderTitle {
  color: white;
  letter-spacing: 1px;
}

.slideContainer {
  float: right;
  width: 230px;
  margin-right: 12%;
}

.slider:hover {
  opacity: 1;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 8px;
  border-radius: 5px;
  background: #c0c0c0;
  outline: none;
  opacity: 0.85;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: red;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}

.btn-group {
  margin-top: 10px;
  box-shadow: none;
  float: left;
  margin-left: 15%;
}

.btn-group:hover {
  box-shadow: none;
}

.dropdown-menu {
  min-width: 150px;
  max-width: 150px;
  margin-top: 3px;
}

.screenshot-upload, .mockup-upload {
  border-radius: 10px;
}

.image-upload-wrap.mockup:hover {
  background-color: #e71919b9;
  border: 4px solid #ffffff;
  border-radius: 15px;
}

.file-upload.mockup {
  width: 400px;
  margin-top: 30px;
  padding: 20px;
  float: right;
  border-radius: 25px;
}

.file-upload-btn.mockup {
  margin: 0;
  color: #fff;
  width: 300px;
  font-size: 20px;
  background: #e71919b9;
  border: none;
  padding: 10px;
  border-radius: 10px;
  border-bottom: 4px solid #e71919b9;
  transition: all .7s ease;
  outline: none;
  text-transform: uppercase;
  font: bold;
  border: solid 2px rgb(216, 212, 212);
  letter-spacing: 1px;
}

.file-upload-btn.mockup:hover {
  background: #ee3f3fe5;
  color: #ffffff;
  transition: all .2s ease;
  cursor: pointer;
}

.image-upload-wrap.mockup {
  margin-top: 20px;
  border: 3px solid #e71919b9;
  position: relative;
  border-radius: 15px;
  cursor: pointer;
  width: 357px;
  height: 258px;
}

.image-title-wrap.mockup {
  padding: 0 15px 15px 15px;
  color: #222;
}

.file-upload.screenshot {
  width: 400px;
  margin-top: 30px;
  padding: 20px;
  float: left;
  border-radius: 25px;
}

.file-upload-btn.screenshot {
  width: 300px;
  font-size: 20px;
  margin: 0;
  color: #fff;
  background: #1f2eb2;
  border: none;
  padding: 10px;
  border-radius: 10px;
  border-bottom: 4px solid #3540d1f8;
  transition: all .2s ease;
  outline: none;
  text-transform: uppercase;
  font: bold;
  border: solid 2px rgb(216, 212, 212);
  letter-spacing: 1px;
}

.file-upload-btn.screenshot:hover {
  background: #3d4edf;
  color: #ffffff;
  transition: all .7s ease;
  cursor: pointer;
}

.file-upload-btn:active {
  border: 0;
  transition: all .2s ease;
}

.file-upload-content {
  display: none;
  text-align: center;
}

.file-upload-input {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}

.image-upload-wrap.screenshot {
  margin-top: 20px;
  border: 3px solid #1f2eb2;
  position: relative;
  border-radius: 15px;
  width: 357px;
  height: 258px;
}

.image-upload-wrap.screenshot:hover {
  background-color: #1f2eb2;
  border: 4px solid #ffffff;
  border-radius: 15px;
  cursor: pointer;
}
